#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contact-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
  background: #eaeaee;
  color: black;
  padding: 16px 24px;
  margin-bottom: 14px;
  border-radius: 12px;
}



